:root {
  --mainColor: #eea71c;
  --fontColor: #1a120b;
  --Hovering: #fbc252;
}
img {
  max-width: 100%;
}
.backBtn {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
}
.backBtn a {
  background-color: var(--Hovering);
  color: var(--fontColor);
  padding: 10px 40px;
  font-weight: 600;
}
.backBtn a:hover {
  background-color: var(--mainColor);
}
header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 15vh;
}
header a img {
  max-width: 100px;
  width: 100%;
  height: auto;
}
header nav {
  display: flex;
  gap: 10px;
}
header nav a {
  color: var(--fontColor);
  font-weight: 600;
  padding: 10px 20px;
}
.register {
  background-color: var(--Hovering);
  padding: 10px 20px;
}
.register:hover {
  background-color: var(--mainColor);
}
.swiper {
  width: 100%;
  height: 75vh;
}
.swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
}
.swiper-slide img {
  display: block;
  width: 100%;
  height: 400px;
  object-fit: cover;
}
.blogCard .imgBlog {
  background-color: var(--Hovering);
  position: relative;
}
.blogCard .discover {
  position: absolute;
  top: 65vh;
  right: 0;
  bottom: 0;
  left: 0;
}
.blogCard .discover a {
  padding: 10px 40px;
  background-color: var(--mainColor);
  border: none;
  cursor: pointer;
  font-weight: 600;
  border-radius: 3px;
  color: var(--fontColor);
}
.blogCard .discover a:hover {
  background-color: var(--Hovering);
}
.discoverHolder {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 10vh;
}
.discoverAll {
  padding: 10px 50px;
  background-color: var(--fontColor);
  color: #fff;
  border-radius: 3px;
  cursor: pointer;
  font-weight: 600;
}
.discoverAll:hover {
  background-color: var(--Hovering);
}
.registerPage {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  width: 100%;
}
.registerPage h1 {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 10vh;
  font-size: 40px;
  color: var(--mainColor);
}
.registerPage form {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 10px;
  width: 80%;
  height: 60vh;
}
.registerPage form input {
  width: 40%;
  padding: 10px;
  outline: 0;
  border-radius: 3px;
  border: 2px solid #ddd;
  font-size: 18px;
}
.registerPage form input:focus {
  border: 2px solid var(--mainColor);
}
.registerPage form button {
  padding: 10px 40px;
  background-color: var(--fontColor);
  color: #fff;
  border: none;
  font-weight: 600;
  cursor: pointer;
}
.blogContent {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
.blogContent .content {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row-reverse;
  margin: 40px 0;
}
.blogContent .content .imageHolder {
  width: 50%;
}
.blogContent h1 {
  font-size: 36px;
}
.blogContent img {
  width: 100%;
  object-fit: cover;
}
.blogContent p {
  line-height: 1.6rem;
  font-size: 18px;
  text-align: justify;
  margin: 25px;
  width: 50%;
}
.card {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 30%;
  box-shadow: 5px 10px 10px #a8a8a8;
  cursor: pointer;
  border-radius: 3px;
}
.card .content {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.card img {
  max-width: 400px;
  width: 100%;
  height: 100px;
  object-fit: cover;
  border-radius: 3px;
}
.content h4 {
  margin: 15px;
  color: var(--fontColor);
}
.content a {
  background-color: var(--mainColor);
  padding: 8px 20px;
  margin: 10px;
  color: var(--fontColor);
  font-weight: 600;
}
.content summary {
  margin: 50px 10px;
  width: 100%;
}
.btnHolder {
  display: flex;
  align-items: center;
  justify-content: center;
}
.blogs {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  gap: 40px;
  margin: 40px 0px;
}

/* Create post page & link */
.createpost {
  background-color: var(--Hovering);
  color: var(--fontColor);
  padding: 10px 25px;
  margin-right: 20px;
  font-weight: 600;
}
.create-row {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  height: 75vh;
}
.create-row form {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 40%;
  margin: 20px;
}
.create-row input,
.create-row textarea {
  margin: 10px;
  padding: 10px;
  width: 100%;
  resize: vertical;
}
.create-row form .input[type="file"] {
  display: none;
}
.btns {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: row-reverse;
  width: 100%;
}
.btns button {
  background-color: var(--Hovering);
  color: var(--fontColor);
  padding: 10px 25px;
  border-radius: 3px;
  border: none;
  font-weight: 600;
}
.btns a {
  background-color: var(--fontColor);
  color: #fff;
  padding: 10px 25px;
  border-radius: 3px;
  border: none;
  font-weight: 600;
}
.btns a:hover,
.btns button:hover {
  opacity: 0.9;
  cursor: pointer;
}
.create-row form label {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
  margin: 20px 0px;
  padding: 10px;
}
.create-row form label svg {
  font-size: 40px;
  color: var(--mainColor);
}
.imageInput {
  display: none;
}

.management {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 10vh;
}
.mg-icons {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
}
.mg-icons svg {
  font-size: 24px;
  color: var(--mainColor);
  cursor: pointer;
}
.empty {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 65vh;
  font-size: 20px;
  font-weight: 500;
}
@media (max-width: 472px) {
  .discover {
    display: none;
  }
}
@media (max-width: 588px) {
  .card {
    flex-direction: column;
  }
}
@media (max-width: 959px) {
  .blogContent .content {
    flex-direction: column;
  }
  .blogContent .imageHolder {
    width: 100%;
  }
  .blogContent p {
    width: 95%;
  }
}
